{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
% {overrides, [
%   {override, riak_core, [
%     {erl_opts, [
%       debug_info,
%       export_all,
%       {parse_transform, lager_transform},
%       {platform_define, "^[0-9]+", namespaced_types},
%       {platform_define, "^R15", "old_hash"}
%     ]}
%   ]},
%   {del, poolboy, [{erl_opts, [warnings]}]}
% ]}.
{deps, [
  {riak_core, "3.1.0", {pkg, riak_core_ng}},
  {lager, "3.5.1"},
  {sf, {git, "https://github.com/hachreak/sf.git", {branch, master}}}
]}.
