{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{overrides, [
  {override, riak_core, [
    {erl_opts, [
      debug_info,
      export_all,
      {parse_transform, lager_transform},
      {platform_define, "^[0-9]+", namespaced_types},
      {platform_define, "^R15", "old_hash"}
    ]}
  ]},
  {del, poolboy, [{erl_opts, [warnings]}]}
% {override, riak_ensemble, [{erl_opts, [nowarn_export_all]}]}
]}.
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.4.1"}}},
  {riak_core,
    {git, "https://github.com/Kyorai/riak_core.git", {tag, "3.0.9"}}},
  {riak_ensemble, "~>2.4.3", {pkg, riak_ensemble_ng}},
  {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.2"}}}
]}.
