[
  {riak_core, [
    {node, "test4@127.0.0.1"},
    {handoff_ip, "127.0.0.1"},
    {handoff_port, 8499},
    {platform_data_dir, "data_4"},
    {ring_state_dir, "ring_state_dir_4"},
    {schema_dirs, ["priv"]}
    %{web_port, 8198}
  ]},
  {minidb, [
    {backend, {minidb_db_ets, #{name => dbname}}},
    {cluster, [
      {autojoin, true},
      {seeds, [
        "test3@127.0.0.1"
      ]}
   ]}
  ]}
].
